body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.content {
  padding-bottom: 80px;
}

.form {
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 30vw;
}

h2 {
  color: #007bff;
}

.row {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

img {
  max-width: 100px; /* Set the maximum width of the image */
  max-height: 100px; /* Set the maximum height of the image */
  display: block; /* Ensure the image is displayed as a block element */
  margin: 0 auto; /* Center the image horizontally */
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
textarea,
textarea:focus {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="hidden"] {
  display: none;
}
