header {
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin: 0;
}

.contentPage {
  min-height: 70vh;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo img {
  height: 40px; /* Adjust the height of the logo */
}

.header-title {
  display: inline-block;
  vertical-align: middle;
}

.header-title h1 {
  display: inline;
  font-size: 24px;
  margin: 0;
  color: white;
}

.header-title h1 a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #f7a992;
}

.category-dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .category-dropdown {
  display: block;
}

.category-dropdown li {
  padding: 10px;
}

.category-dropdown a {
  color: #fff;
  text-decoration: none;
}

.category-dropdown a:hover {
  background-color: #555;
}

a {
  text-decoration: none;
}
