.contentPage {
  min-height: 70vh;
}

body {
  margin: 0;
  padding-bottom: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light background color */
  color: #333; /* Default text color */
}

header {
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow at the bottom */
}

.logo {
  flex: 0 0 auto;
  margin-right: 20px;
}

.logo img {
  height: 60px;
}

.header-text {
  font-size: 24px;
  margin-right: auto;
  color: white;
  text-decoration: none;
}

nav {
  flex: 0 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 30px;
  padding-right: 7px;
}

nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

nav a:hover {
  /* color: #ffd700; */
  color: #f7a992;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7a992;
  /* background-color: #ffd700; Underline color */
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.3s; /* Smooth animation */
}

nav a:hover::before {
  transform: scaleX(1); /* Show underline on hover */
}
